<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <h3>所有缺陷</h3>
        <table class="table table-striped">
            <thead>
              <th>标题</th>
              <th>内容</th>
              <th>提出人</th>
            </thead>
            <tbody>
              {% for defect in defects %}
              <tr>
                  <td>{{defect.title}}</td>
                  <td>{{defect.author}}</td>
                  <td>{{defect.content}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
